<a href="https://colab.research.google.com/github/Adrian-create-gif/Literacy/blob/main/GroupWork.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Literacy.csv')
df

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,...,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#loc+name,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Coast,4667037,Women with secondary or higher education,19.9,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416003,2003,DHS,667.0,938.0,NaN,NaN,1.0
2,KEN,North Eastern,5385284,Women with secondary or higher education,0.8,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416008,2003,DHS,168.0,437.0,NaN,NaN,1.0
3,KEN,Eastern,7236894,Women with secondary or higher education,22.2,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416004,2003,DHS,1325.0,993.0,NaN,NaN,1.0
4,KEN,Central,6493890,Women with secondary or higher education,41.6,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416002,2003,DHS,1181.0,1314.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2717,KEN,Homa Bay,3241015,Number of men (unweighted),263,0,KE,Kenya,2022,KE2022DHS,...,1.0,EDLITRMUNW,KEDHS2022416083,2022,DHS,258.0,NaN,NaN,NaN,1.0
2718,KEN,Migori,3884870,Number of men (unweighted),296,0,KE,Kenya,2022,KE2022DHS,...,1.0,EDLITRMUNW,KEDHS2022416084,2022,DHS,246.0,NaN,NaN,NaN,1.0
2719,KEN,Kisii,1215538,Number of men (unweighted),300,0,KE,Kenya,2022,KE2022DHS,...,1.0,EDLITRMUNW,KEDHS2022416085,2022,DHS,326.0,NaN,NaN,NaN,1.0
2720,KEN,Nyamira,2126816,Number of men (unweighted),246,0,KE,Kenya,2022,KE2022DHS,...,1.0,EDLITRMUNW,KEDHS2022416086,2022,DHS,133.0,NaN,NaN,NaN,1.0
2721,KEN,Nairobi,2972922,Number of men (unweighted),356,0,KE,Kenya,2022,KE2022DHS,...,1.0,EDLITRMUNW,KEDHS2022416001,2022,DHS,1777.0,NaN,NaN,NaN,1.0

In [3]:
df.head()

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,...,IsPreferred,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank
0,#country+code,#loc+name,#meta+id,#indicator+name,#indicator+value+num,#indicator+precision,NaN,#country+name,#date+year,#survey+id,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Coast,4667037,Women with secondary or higher education,19.9,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416003,2003,DHS,667.0,938.0,NaN,NaN,1.0
2,KEN,North Eastern,5385284,Women with secondary or higher education,0.8,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416008,2003,DHS,168.0,437.0,NaN,NaN,1.0
3,KEN,Eastern,7236894,Women with secondary or higher education,22.2,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416004,2003,DHS,1325.0,993.0,NaN,NaN,1.0
4,KEN,Central,6493890,Women with secondary or higher education,41.6,1,KE,Kenya,2003,KE2003DHS,...,1.0,EDLITRWSCH,KEDHS2003416002,2003,DHS,1181.0,1314.0,NaN,NaN,1.0

In [10]:
#average literacy level of people per region
df_cleaned = df.iloc[1:].copy() # Remove the first row
df_cleaned['Value'] = pd.to_numeric(df_cleaned['Value'], errors='coerce')
location_value=df_cleaned.groupby('Location')['Value'].mean()
location_value

Location
Baringo                 94.528571
Bomet                  123.130952
Bungoma                157.845238
Busia                  113.495238
Central                341.472619
Coast                  316.336905
Coast endemic          158.952632
Eastern                430.317857
Elgeyo Marakwet         85.983333
Embu                    98.033333
Garissa                 83.959524
Highland epidemic      286.263158
Homa Bay               120.516667
Isiolo                  74.238095
Kajiado                120.092857
Kakamega               159.411905
Kericho                120.204762
Kiambu                 200.035714
Kilifi                 144.597619
Kirinyaga               98.950000
Kisii                  133.611905
Kisumu                 131.373810
Kitui                  126.464286
Kwale                  110.252381
Laikipia                90.145238
Lake endemic           331.347368
Lamu                    75.538095
Low risk               405.184211
Machakos               144.757143
Makueni                122.483333
Mandera                 76.973810
Marsabit                67.471429
Meru                   145.954762
Migori                 119.740476
Mombasa                141.635714
Murang'a               116.197619
Nairobi                272.919811
Nakuru                 185.776190
Nandi                  121.376190
Narok                  120.442857
North Eastern          128.938095
Nyamira                 91.223810
Nyandarua               96.226190
Nyanza                 377.888095
Nyeri                  109.080952
Rift Valley            733.511905
Samburu                 69.730952
Semi-arid, seasonal    249.163158
Siaya                  109.264286
Taita Taveta            77.950000
Tana River              79.785714
Tharaka-Nithi           83.378571
Trans-Nzoia            124.921429
Turkana                 78.776190
Uasin Gishu            139.447619
Vihiga                  97.914286
Wajir                   78.183333
West Pokot              90.128571
Western                301.383333
Name: Value, dtype: float64

In [30]:
location_value.sort_values(ascending=False)

Location
Rift Valley            733.511905
Eastern                430.317857
Low risk               405.184211
Nyanza                 377.888095
Central                341.472619
Lake endemic           331.347368
Coast                  316.336905
Western                301.383333
Highland epidemic      286.263158
Nairobi                272.919811
Semi-arid, seasonal    249.163158
Kiambu                 200.035714
Nakuru                 185.776190
Kakamega               159.411905
Coast endemic          158.952632
Bungoma                157.845238
Meru                   145.954762
Machakos               144.757143
Kilifi                 144.597619
Mombasa                141.635714
Uasin Gishu            139.447619
Kisii                  133.611905
Kisumu                 131.373810
North Eastern          128.938095
Kitui                  126.464286
Trans-Nzoia            124.921429
Bomet                  123.130952
Makueni                122.483333
Nandi                  121.376190
Homa Bay               120.516667
Narok                  120.442857
Kericho                120.204762
Kajiado                120.092857
Migori                 119.740476
Murang'a               116.197619
Busia                  113.495238
Kwale                  110.252381
Siaya                  109.264286
Nyeri                  109.080952
Kirinyaga               98.950000
Embu                    98.033333
Vihiga                  97.914286
Nyandarua               96.226190
Baringo                 94.528571
Nyamira                 91.223810
Laikipia                90.145238
West Pokot              90.128571
Elgeyo Marakwet         85.983333
Garissa                 83.959524
Tharaka-Nithi           83.378571
Tana River              79.785714
Turkana                 78.776190
Wajir                   78.183333
Taita Taveta            77.950000
Mandera                 76.973810
Lamu                    75.538095
Isiolo                  74.238095
Samburu                 69.730952
Marsabit                67.471429
Name: Value, dtype: float64

In [12]:
#AVerage National literacy score
df_cleaned['Value'].mean()

np.float64(181.3214994487321)

In [18]:
#Literacy score between women
df_cleaned_women = df_cleaned[df_cleaned['Indicator'].str.contains('Women', na=False)]
df_cleaned_women['Value'].mean()
df_cleaned_women

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,...,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank,Women
1,KEN,Coast,4667037,Women with secondary or higher education,19.9,1,KE,Kenya,2003,KE2003DHS,...,EDLITRWSCH,KEDHS2003416003,2003,DHS,667.0,938.0,NaN,NaN,1.0,NaN
2,KEN,North Eastern,5385284,Women with secondary or higher education,0.8,1,KE,Kenya,2003,KE2003DHS,...,EDLITRWSCH,KEDHS2003416008,2003,DHS,168.0,437.0,NaN,NaN,1.0,NaN
3,KEN,Eastern,7236894,Women with secondary or higher education,22.2,1,KE,Kenya,2003,KE2003DHS,...,EDLITRWSCH,KEDHS2003416004,2003,DHS,1325.0,993.0,NaN,NaN,1.0,NaN
4,KEN,Central,6493890,Women with secondary or higher education,41.6,1,KE,Kenya,2003,KE2003DHS,...,EDLITRWSCH,KEDHS2003416002,2003,DHS,1181.0,1314.0,NaN,NaN,1.0,NaN
5,KEN,Rift Valley,1451582,Women with secondary or higher education,25.0,1,KE,Kenya,2003,KE2003DHS,...,EDLITRWSCH,KEDHS2003416006,2003,DHS,1872.0,1328.0,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2069,KEN,Homa Bay,4761944,Women who are literate,93.8,1,KE,Kenya,2022,KE2022DHS,...,EDLITRWLIT,KEDHS2022416083,2022,DHS,662.0,712.0,NaN,NaN,1.0,NaN
2070,KEN,Migori,4493821,Women who are literate,86.6,1,KE,Kenya,2022,KE2022DHS,...,EDLITRWLIT,KEDHS2022416084,2022,DHS,674.0,777.0,NaN,NaN,1.0,NaN
2071,KEN,Kisii,2442458,Women who are literate,96.5,1,KE,Kenya,2022,KE2022DHS,...,EDLITRWLIT,KEDHS2022416085,2022,DHS,831.0,708.0,NaN,NaN,1.0,NaN
2072,KEN,Nyamira,2126165,Women who are literate,99.0,1,KE,Kenya,2022,KE2022DHS,...,EDLITRWLIT,KEDHS2022416086,2022,DHS,327.0,635.0,NaN,NaN,1.0,NaN
2073,KEN,Nairobi,5980595,Women who are literate,96.9,1,KE,Kenya,2022,KE2022DHS,...,EDLITRWLIT,KEDHS2022416001,2022,DHS,4235.0,944.0,NaN,NaN,1.0,NaN

In [19]:
#Literacy score in men
df_cleaned_men = df_cleaned[df_cleaned['Indicator'].str.contains('Men', na=False)]
df_cleaned_men['Value'].mean()
df_cleaned_men

,ISO3,Location,DataId,Indicator,Value,Precision,DHS_CountryCode,CountryName,SurveyYear,SurveyId,...,SDRID,RegionId,SurveyYearLabel,SurveyType,DenominatorWeighted,DenominatorUnweighted,CILow,CIHigh,LevelRank,Women
81,KEN,Coast,5921297,Men with secondary or higher education,31.6,1,KE,Kenya,2003,KE2003DHS,...,EDLITRMSCH,KEDHS2003416003,2003,DHS,234.0,347.0,NaN,NaN,1.0,NaN
82,KEN,North Eastern,5916365,Men with secondary or higher education,10.9,1,KE,Kenya,2003,KE2003DHS,...,EDLITRMSCH,KEDHS2003416008,2003,DHS,57.0,145.0,NaN,NaN,1.0,NaN
83,KEN,Eastern,6433776,Men with secondary or higher education,30.5,1,KE,Kenya,2003,KE2003DHS,...,EDLITRMSCH,KEDHS2003416004,2003,DHS,541.0,431.0,NaN,NaN,1.0,NaN
84,KEN,Central,1358850,Men with secondary or higher education,41.2,1,KE,Kenya,2003,KE2003DHS,...,EDLITRMSCH,KEDHS2003416002,2003,DHS,515.0,579.0,NaN,NaN,1.0,NaN
85,KEN,Rift Valley,3938510,Men with secondary or higher education,32.7,1,KE,Kenya,2003,KE2003DHS,...,EDLITRMSCH,KEDHS2003416006,2003,DHS,818.0,562.0,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,KEN,Homa Bay,7096325,Men who are literate,95.3,1,KE,Kenya,2022,KE2022DHS,...,EDLITRMLIT,KEDHS2022416083,2022,DHS,258.0,263.0,NaN,NaN,1.0,NaN
2610,KEN,Migori,3884869,Men who are literate,89.1,1,KE,Kenya,2022,KE2022DHS,...,EDLITRMLIT,KEDHS2022416084,2022,DHS,246.0,296.0,NaN,NaN,1.0,NaN
2611,KEN,Kisii,5131183,Men who are literate,98.4,1,KE,Kenya,2022,KE2022DHS,...,EDLITRMLIT,KEDHS2022416085,2022,DHS,326.0,300.0,NaN,NaN,1.0,NaN
2612,KEN,Nyamira,2126815,Men who are literate,95.6,1,KE,Kenya,2022,KE2022DHS,...,EDLITRMLIT,KEDHS2022416086,2022,DHS,133.0,246.0,NaN,NaN,1.0,NaN
2613,KEN,Nairobi,2972862,Men who are literate,98.6,1,KE,Kenya,2022,KE2022DHS,...,EDLITRMLIT,KEDHS2022416001,2022,DHS,1777.0,356.0,NaN,NaN,1.0,NaN

In [32]:
#Literacy score for men per region
location_value_men=df_cleaned_men.groupby('Location')['Value'].mean()
location_value_men.sort_values(ascending=False)

Location
Machakos           35.200000
Kisumu             35.129412
Uasin Gishu        35.117647
Kericho            35.047059
Nyamira            35.017647
Kisii              35.000000
Mombasa            34.982353
Kiambu             34.970588
Kilifi             34.882353
Nyeri              34.882353
Elgeyo Marakwet    34.864706
Bomet              34.841176
Embu               34.805882
Kirinyaga          34.776471
Vihiga             34.758824
Nakuru             34.747059
Central            34.720588
Nyandarua          34.688235
Taita Taveta       34.664706
Makueni            34.611765
Nairobi            34.597674
Nandi              34.582353
Murang'a           34.576471
Kakamega           34.570588
Coast              34.535294
Trans-Nzoia        34.529412
Eastern            34.517647
Nyanza             34.450000
Laikipia           34.394118
Homa Bay           34.358824
Kitui              34.352941
Siaya              34.341176
Tharaka-Nithi      34.276471
Migori             34.229412
Lamu               34.194118
Kajiado            34.152941
Baringo            34.076471
Isiolo             34.041176
Rift Valley        33.982353
Meru               33.870588
Western            33.850000
Kwale              33.670588
Bungoma            33.358824
Busia              33.247059
Narok              32.952941
West Pokot         32.605882
Garissa            32.435294
Tana River         32.235294
Samburu            31.964706
Wajir              31.941176
Marsabit           31.411765
Mandera            30.870588
North Eastern      30.464706
Turkana            29.952941
Name: Value, dtype: float64

In [31]:
#Literacy score women per region
location_value_women=(df_cleaned_women.groupby('Location')['Value'].mean())
location_value_women.sort_values(ascending=False)

Location
Low risk               39.233333
Highland epidemic      38.666667
Lake endemic           38.440000
Coast endemic          37.806667
Semi-arid, seasonal    36.406667
Nyamira                35.123529
Nandi                  35.052941
Makueni                34.994118
Machakos               34.964706
Nyeri                  34.964706
Kiambu                 34.941176
Embu                   34.923529
Elgeyo Marakwet        34.917647
Nyandarua              34.811765
Taita Taveta           34.800000
Murang'a               34.794118
Nakuru                 34.758824
Kisumu                 34.735294
Uasin Gishu            34.694118
Central                34.682353
Vihiga                 34.676471
Kirinyaga              34.629412
Kericho                34.576471
Kisii                  34.570588
Homa Bay               34.564706
Kitui                  34.500000
Kakamega               34.447059
Bomet                  34.423529
Nairobi                34.367442
Mombasa                34.294118
Siaya                  34.252941
Bungoma                34.082353
Trans-Nzoia            33.982353
Nyanza                 33.979412
Tharaka-Nithi          33.952941
Eastern                33.826471
Laikipia               33.788235
Baringo                33.758824
Busia                  33.741176
Meru                   33.664706
Migori                 33.658824
Western                33.626471
Kajiado                33.547059
Lamu                   33.429412
Rift Valley            33.194118
Kilifi                 32.711765
Narok                  32.611765
Kwale                  32.600000
Coast                  32.414706
Isiolo                 31.194118
West Pokot             30.300000
Tana River             29.647059
Samburu                28.547059
Garissa                27.817647
Marsabit               27.635294
Turkana                27.082353
Wajir                  26.805882
Mandera                26.535294
North Eastern          26.147059
Name: Value, dtype: float64

In [28]:
#Difference between men and women literacy score
location_value_men-location_value_women

Location
Baringo                0.317647
Bomet                  0.417647
Bungoma               -0.723529
Busia                 -0.494118
Central                0.038235
Coast                  2.120588
Coast endemic               NaN
Eastern                0.691176
Elgeyo Marakwet       -0.052941
Embu                  -0.117647
Garissa                4.617647
Highland epidemic           NaN
Homa Bay              -0.205882
Isiolo                 2.847059
Kajiado                0.605882
Kakamega               0.123529
Kericho                0.470588
Kiambu                 0.029412
Kilifi                 2.170588
Kirinyaga              0.147059
Kisii                  0.429412
Kisumu                 0.394118
Kitui                 -0.147059
Kwale                  1.070588
Laikipia               0.605882
Lake endemic                NaN
Lamu                   0.764706
Low risk                    NaN
Machakos               0.235294
Makueni               -0.382353
Mandera                4.335294
Marsabit               3.776471
Meru                   0.205882
Migori                 0.570588
Mombasa                0.688235
Murang'a              -0.217647
Nairobi                0.230233
Nakuru                -0.011765
Nandi                 -0.470588
Narok                  0.341176
North Eastern          4.317647
Nyamira               -0.105882
Nyandarua             -0.123529
Nyanza                 0.470588
Nyeri                 -0.082353
Rift Valley            0.788235
Samburu                3.417647
Semi-arid, seasonal         NaN
Siaya                  0.088235
Taita Taveta          -0.135294
Tana River             2.588235
Tharaka-Nithi          0.323529
Trans-Nzoia            0.547059
Turkana                2.870588
Uasin Gishu            0.423529
Vihiga                 0.082353
Wajir                  5.135294
West Pokot             2.305882
Western                0.223529
Name: Value, dtype: float64

In [35]:
#Comparing literacy scores between men who cannot read at all and those who are literate
df_cleaned_men_cant_read = df_cleaned[df_cleaned['Indicator'].str.contains('Men who cannot read at all ', na=False)]
df_cleaned_men_cant_read['Value']

Series([], Name: Value, dtype: float64)

In [36]:
#Literacy score for men who cannot read at all
df_cleaned_men_cannot_read = df_cleaned[df_cleaned['Indicator'].str.contains('Men who cannot read at all', na=False)]
df_cleaned_men_cannot_read['Value'].mean()

np.float64(10.862400000000001)

In [38]:
#Literacy score for men who are literate
df_cleaned_literate_men = df_cleaned[df_cleaned['Indicator'].str.contains('Men who are literate', na=False)]
df_cleaned_literate_men['Value'].mean()

np.float64(88.96239999999999)

In [39]:
#literacy score for women who cannot read
df_cleaned_women_cant_read = df_cleaned[df_cleaned['Indicator'].str.contains('Women who cannot read at all', na=False)]
df_cleaned_women_cant_read['Value'].mean()

np.float64(18.21851851851852)

In [40]:
#LIteracy score for women who are literate
df_cleaned_women_literate = df_cleaned[df_cleaned['Indicator'].str.contains('Women who are literate', na=False)]
df_cleaned_women_literate['Value'].mean()

np.float64(81.48444444444445)